/*Form CSS */
.error {
    color: #FF0000;
}
form{
    margin-top: 58px;
    margin-left: 27px;
    width:90%;
    text-align:center;
}

#firstLegend{
    font-weight:bold;
    font-size:1.3em;
    padding-left:30px;
    padding-right:30px;
}

label{
    display:block;
    margin-bottom:10px;
    text-align:left;
    margin-left:30px
}

input{
    margin-left: -113px;
    width:398px;
    height:25px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    margin-bottom:15px;
    padding:3px 8px 3px 8px;
    color:#888;
}
input[type="submit"]{
    height: 38px;
    margin-left: 0px;
    float: left;
    margin-top: 20px;
    width: 29%;
    background-color:black;
    color:white;
}
select{
    margin-top:4px;
    width: 30%;
    float: left;
    margin-left: 32px;
    height: 27px;
    margin-bottom:15px;
}
textarea{
    margin-bottom:15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 69%;
    height: 83px;
    margin-left: -115px;
}
